img{
    height: 400px;
    width: 500px;
  }

  button:disabled{
    background-color: grey;
    cursor: not-allowed;
}

.error-msg{
    color:red;
    margin: 5px 0;
    font-weight: bold;
}

.container{
    background-color: #EDE7F6;
}