.img-responsive img{
    height:250px;
    width:600px;
}



.vl {
    border-left: 1px solid black;
    height: 250px;
  }
  
  .thumbnail {
    width: 25%;
  }
  
  dt{
    padding: 4px;
  }
  
  .locationSelector{
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: left;
  }
  
  .locationDropDown{
  width:250px;
  height:40px;
  border-radius: 5%;
  font-size: 20px;
  }

  .chart{
    height:360px;
    width: 540px;
  }
  